<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>572157406625-g7ai6spm6orfs1i5jpfoo83a1tv36ojb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.572157406625-g7ai6spm6orfs1i5jpfoo83a1tv36ojb</string>
	<key>API_KEY</key>
	<string>AIzaSyDHpZjegv1IpJrxQ6n4aNrpcZsHWKZNfvQ</string>
	<key>GCM_SENDER_ID</key>
	<string>572157406625</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.AuthenticationWithFirebase</string>
	<key>PROJECT_ID</key>
	<string>authenticationwithfireba-8748f</string>
	<key>STORAGE_BUCKET</key>
	<string>authenticationwithfireba-8748f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:572157406625:ios:00055d233dd9749cb72fe0</string>
</dict>
</plist>